# Comments are prefixed by character '#'

test.1 # test.1.node and test.1.ele will be read in the program
obs_sites # Observation points are contained in file 'obs_sites'

3 # Cubic density contrast is used

2  # Two regions
-1 # Marker for the first region is -1, which is specified in the last part of *.poly file
   # Following 4 lines specifies the density contrasts for this region.
0
0	0	0
0	0	0	0	0	0
0	0	0	0	0	0	0	0	0	0

1  # Marker for the second region is 1. Following 4 lines specifies the density contrasts for this region.
200 #constant term
-300	50	10 #coefficients for linear terms
50	-1	0.1	3	0.2	0.3 # coefficients for quadratic terms
0.01	0.1	0.05	0.02	0.5	0.1	0.5	0.08	0.1	0.05 # coefficients for cubic terms




##################################################################################
# Explanation for the density contrast
#
# Given the following coefficients in the file,
#
#   a000
#   a100  a010  a001
#   a200  a020  a002  a101  a011  a110
#   a003  a012  a021  a030  a102  a111  a120  a201  a210  a300
#
# the density contrast is
# 
#   a000
#   + a100*x   + a010*y     + a001*z
#   + a200*x^2 + a020*y^2   + a002*z^2   + a101*x*z + a011*y*z + a110*x*y
#   + a003*z^3 + a012*y*z^2 + a021*y^2*z + a030*y^3 + a102*x*z^2+ a111*x*y*z+ a120*x*y^2+ a201*x^2*z+ a210*x^2*y+ a300x^3
##################################################################################

